<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/open_sans.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/client.js"></script>
</head>
<body>
<div class="columns">
    <div class="tips">
        <ul>
            <li>Tips</li>
        </ul>
    </div>
    <div class="subs">
        <ul>
            <li>Subs</li>
        </ul>
    </div>
    <div class="cheers">
        <ul>
            <li>Cheers</li>
        </ul>
    </div>
</div>
<div class="channel_controls">
    <div class="slow">
        <label class="switch">
            <input type="checkbox">
            <div class="slider round"><span>Slow Mode <span class="slow_amount"></span></span></div>
        </label>
    </div>
    <div class="subscribers">
        <label class="switch">
            <input type="checkbox">
            <div class="slider round"><span>Sub Mode</span></div>

        </label>
    </div>
    <div class="r9kbeta">
        <label class="switch">
            <input type="checkbox">
            <div class="slider round"><span>R9K Mode</span></div>
        </label>
    </div>
    <div class="emoteonly">
        <label class="switch">
            <input type="checkbox">
            <div class="slider round"><span>Emote Only</span></div>
        </label>
    </div>
</div>
<div class="statusBar">
    <span id='socket_status'>WebSocket</span>
    <span id='twitchalerts_status'>TwitchAlerts</span>
    <span id='twitch_status'>Twitch</span>
    <span id='bot_status'><%= botName %></span>
</div>
</body>
</html>
